body  {
  background-color: green;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.button {
  border-radius: 50px;
  border: 1px solid black;
  font-size: x-large;
  margin: 5px;
}

.viewToggleButton {
  align-self: flex-end;
}

.showIncidentsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

createIncidentPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.dumpster {
  background-color: blue;
  border: 5 px double black;
  padding: 20px;
  margin: 20px;
}

.textDump {
  padding: 10px;
  margin: 10px;
  align-self: flex-end;
}

.newFire {
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin: 20px;
  border: 1px black solid;
}

.newFireTrait {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  padding: 5px;
  margin: 5px;
  width: 60vw;
  border: 1px black solid;

}

.summaryFire {
  /* display: flex; */
  border: 1px solid black;
  align-items: center;
  padding: 10px;
  margin: 10px;
  display: flex;
}

.summaryFireTitle {
  max-width: 20vw;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  background-color: lightgray;
}

.summaryFireText {
  padding: 5px;
  margin: 5px;
  font-size: larger;
}

.saveFireButton {
  background-color: red;
  align-self: center;
  justify-self: center;
}