body  {
  background-color: green;
}

.button {
  border-radius: 50px;
  border: 1px solid black;
}

.viewToggleButton {
  /* border-radius: 20%; */
  align-self: flex-end;
}

.showIncidentsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

createIncidentPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dumpster {
  background-color: blue;
  border: 5 px double black;
  padding: 20px;
  margin: 20px;
}

.textDump {
  padding: 10px;
  margin: 10px;
}

.newFire {
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
  padding: 20px;
  margin: 20px;

}

.culprit {
  background-color: lightblue;
  display: flex;
  align-items: center;
  padding: 5px;
}

.fireProgram {
  background-color: lightblue;
  display: flex;
  align-items: center;
  padding: 5px;
}

.fireEvent {
  background-color: lightblue;
  display: flex;
  align-items: center;
  padding: 5px;
}

.summaryFire {
  background-color: darkblue;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;

}

.saveFireButton {
  background-color: red;
}